<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
	  <title>Seekdu</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <%= stylesheet_link_tag 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %>
	  <%= stylesheet_link_tag 'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <%= csrf_meta_tags %>
	</head>
	<body ng-app="seekdu">

		<ui-view></ui-view>

	</body>
</html>
